@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('iconfont.ttf?t=1648466645623') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-31shouye:before {
  content: "\f01d6";
}

.icon-gouwuche:before {
  content: "\e63f";
}

.icon-yonghu-xianxing:before {
  content: "\e8c8";
}

.icon-fenlei:before {
  content: "\e62f";
}

